@mixin scrollbarDefault() {
  &::-webkit-scrollbar-track {
    background: rgb(var(--color-background-2));
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-background-3));
    outline: none;
  }
  &::-webkit-scrollbar {
    width: 12px;
  }
}

@mixin scrollbarPrimary($width: 12px, $borderRadius: 6px) {
  &::-webkit-scrollbar-track {
    background-color: rgb(var(--color-background-2));
    border-radius: $borderRadius;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-main-gradient);
    outline: none;
    border-radius: $borderRadius;
  }
  &::-webkit-scrollbar {
    width: $width;
  }
}
