@import "utils";
@import "variables";


.dark {
  --color-main-gradient: #{$mainGradient};
  --color-orange-gradient: #{$orangeGradient};

  --color-accent-1: #{extractRgb($mono-white)};
  --color-accent-2: #{extractRgb($grey1)};

  --color-background-1: #{extractRgb($darkBlack)};
  --color-background-2: #{extractRgb($lightBlack)};
  --color-background-3: #{extractRgb($whiteBlack)};
  --color-background-4: #{extractRgb($black4)};
  --color-background-5: #{extractRgb($black5)};

  --color-primary-1: #{extractRgb($blue)};

  --color-danger: #{extractRgb($red1)};
  --color-success: #{extractRgb($green1)};
}
