$red1: #CD4A4A;
$darkRed: #3B2929;

$green1: #46B49B;
$green2: #97D16A;
$darkGreen: #293A3A;

$orange: #F49D35;
$darkOrange: #3A3029;

$yellow: #FFBF73;

$mono-white: #ffffff;
$white-2: #E3E8EA;
$mono-black: #000000;

$grey1: #93989A;
$grey2: #3F4255;

$darkBlack: #1D1F2B;
$lightBlack: #242634;
$whiteBlack: #2B2E41;
$black4: #3C4059;
$black5: #6F6996;

$blue: #6690FE;
$darkBlue: #5376B9;
$whiteBlue: #7FB2FF;
$blackBlue: #29323A;

$fuchsia1: #CC42EE;

$purple1: #6271EB;
$purple2: #9F56EC;
$purple3: #6E63EC;

$mainGradient: linear-gradient(204.95deg, $fuchsia1 0%, $purple1 118.92%);
$orangeGradient: linear-gradient(204.95deg, #EE4242 0%, #EBAC62 118.92%);
$blueGradient: linear-gradient(204.95deg, #42E4EE 0%, #6271EB 118.92%);
