$red1: #CD4A4A;

$green1: #53B9A2;

$mono-white: #ffffff;
$mono-black: #000000;

$grey1: #93989A;

$black1: #1D1F2B;
$black2: #242634;
$black3: #2B2E41;
$black4: #3C4059;
$black5: #6F6996;

$blue: #3870FF;

$fuchsia1: #CC42EE;
$purple1: #6271EB;

$mainGradient: linear-gradient(204.95deg, $fuchsia1 0%, $purple1 118.92%)
